.mypy_cache/
.vscode/
.pytest_cache/
jmgtext/__pycache__/
tests/__pycache__/
dist/
jmgtext.egg-info/
jmgtext/crope/__pycache__/
jmgtext/crope/lib/*.o
jmgtext/crope/lib/_*
jmgtext/crope/lib/*.so
jmgtext/crope/lib/rope_test
.coverage
htmlcov/
